.navigation {
    -fx-background-color: white;
    -fx-font-size: 22;
}

.navigation .icon {
    -fx-icon-color: #9ca7b9;
    -fx-font-size: 25;
}


.navigation Button:focused {
    -fx-background-color: #e4ffff;
    -fx-text-fill: black;
}

.navigation Button {
    -fx-background-color: white;
    -fx-border: none;
    -fx-text-fill: #9ca7b9;
}

